header{
  position: fixed;
top: 0;
  width: 100%;
  background-color: #000000;  
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.menu-content{
  display: flex;
  gap: 60px;
  padding: 17px 0;
}

a{
  color: #FFFFFF;
}

.logo:hover path
{
  fill: #00FFD1;
}

.menu-content a:hover,
.logo:hover{
  color:#00FFD1;  
}