main{
  margin-top: 80px;
}
.main-content-container{
  width: 1140px;
  margin: 0 auto;
}
.main-content-container h1{
  width: fit-content;
  padding: 12px 42px;
  margin: 80px auto 140px;
  background-color: #000000B2;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(90.09deg, #00FFD1 0.07%, #0085FF 99.94%);
}
.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  border: 10px solid;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  cursor: pointer;
}
.get-what-you-want{
  background-color: #1ECAAB;
  border-color: #1ECAAB;
}
.dont-want{
  position: relative;
  background-color: #EB0014;
  border-color: #EB0014;
  overflow: hidden;
}
.dont-want,
.get-what-you-want
{
padding: 0 40px 0 45px;
}
.get-what-you-want:hover,
.dont-want:hover{
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px 3px #FFFFFF;

}
.get-what-you-want:hover path,
.get-what-you-want:hover
{
  color:#1ECAAB;
  fill: #1ECAAB;
}
.dont-want:hover path,
.dont-want:hover
{
  color:#EB0014;
  fill: #EB0014;
}
.dont-want:active svg{
transition: 2s;
translate: -150px;
transform: rotate(-360deg);
}
