@import url(./header.css);
@import url(./main.css);
*{
  text-decoration: none;
}
body{
  background-image: url('./../Rectangle\ 1.png');
  background-size: cover;

}
.header-content-container{
width: 1140px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}