@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}
input{
  margin: 0;
}
h2{
margin: 26px 0 38px;
font-weight: 600;
font-size: 36px;
line-height: 42px;
color: #1B2028;
}
form{
  width: 650px;
  margin: 20px auto;
  background: #FFFFFF;
  border: 2px solid #3A77D7;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  font-family: 'Roboto';
  color: #666666;
}
.container{
  width: 585px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box{
  width: 100%;
}
.margin{
  margin-bottom: 30px;
}
.input-box label{
  display: flex;
  flex-direction: column;
}
.input-text{
  padding: 24px 17px;
  border: 2px solid #C4C4C4;
  border-radius: 7px;
  background: #FFFFFF;
}
.input-text::placeholder,
.input-text{
  font-size: 20px;
  line-height: 23px;
}
.frs-text{
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 19px;  
}
.scd-text{
  margin-top: 4px;
  font-size: 14px;
  line-height: 16px;
}
.frs-text,
.scd-text,
.text-area-box label:first-child,
.text-area-box span:last-child{
  margin-left: 17px;
}
.line{
  height: 2px;
  width: 100%;
  margin: 56px 0;
  border-radius: 10px;
  background-color: #3A77D7;
}
.check-box-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.check-box,
.radio-box{
  display: flex;
  flex-direction: column;
}
.check-box{
  color: #666666;
}
.radio-box{
  width: fit-content;
  margin-right: 177px;
  color: #1B2028;
}
.check-box span,
.radio-box span{
  padding-left: 22px;
  
}
.radio-box label:not(:last-of-type) {
  margin-bottom: 27px;
}
.check-box span,
.radio-box span,
.radio-box p{
  font-size: 20px;
  line-height: 23px;
}
.radio-box p{
  padding-bottom: 33px;
}
.check-box label:first-child{
  padding-bottom: 27px;
}
.text-area-box{
  width: 100%;
  color: #666666;

}
textarea{
  width: 100%;
  resize: none;
  padding: 24px 20px ;
  font-size: 20px;
  line-height: 23px;
}
.text-area-box label:first-child{
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 19px;
}
.text-area-box span:last-child{
  padding-top: 8px;
  font-size: 14px;
  line-height: 16px;
}
.submit-btn{
  display: flex;
  justify-content: space-around;
  align-items:center;
  gap: 75px;
  margin: 50px 0;
  font-size: 24px;
  line-height: 28px;
  color:#FFFFFF;
  background-color:#3A77D7;
  border-radius:6px;
  border: none;
}
.submit-btn span{
  padding: 17px 0;
  margin-left: 27px;
}
.submit-btn svg{
  margin-right: 27px;
}

/* FOCUS */

.input-box:focus{
  border-color: #3A77D7;
}

/* DISABLE */

.input-text:disabled{
  border-color: #BDBDBD;
}
.input-text:disabled::placeholder,
.input-text:disabled span{
  color: #BDBDBD;
}

/* INVALID */
.input-text:invalid{
  border-color: #C42D2A;
}
